<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CyberLearn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_final">

        <!-- La SplashActivity es la pantalla principal del proyecto -->
        <activity
            android:name="com.example.proyectofinal_moviles.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Proyecto_final">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity se abre despues de SplashActivity -->
        <activity
            android:name="com.example.proyectofinal_moviles.MainActivity"
            android:exported="false" />

        <!-- Pantallas base para que cada integrante desarrolle su parte -->
        <activity
            android:name="com.example.proyecto_final.ModulosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.EvaluacionesActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.SimuladorActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.MiProgresoActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.LogrosActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.ModuleDetailActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.LessonActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.ModuleQuizActivity"
            android:exported="false" />
        <activity
            android:name="com.example.proyecto_final.CertificateActivity"
            android:exported="false" />

        <activity
            android:name="com.example.proyecto_final.InformacionActivity"
            android:exported="false" />

    </application>
</manifest>
